.chat-message {
  padding: 10px;
  border-top: 2px solid #ffffff;
}

.fa-file-o,
.fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

button {
  float: right;
  color: #94c2ed;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f2f5f8;
}

button:hover {
  color: #0c87fa;
}

textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  outline: none;
  font-size: 1em;
}
