.textContainer {
  float: left;
}

h5 {
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #ffffff;
}

ul {
  padding: 10px;
}

.name {
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px 0px 0px 10px;
}

.status {
  color: black;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.status-img {
  padding-right: 5px;
}

li {
  padding-bottom: 10px;
}

.activeContainer {
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
  background-color: #ffffff1a;
  min-width: 200px;
  margin-bottom: 10px;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .textContainer {
    display: none;
  }
}
