.message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  display: inline-block;
}

.message::after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}

.message-data {
  margin-bottom: 15px;
}

.message-data-time {
  color: #92959e;
  padding-left: 6px;
}

.message-data-name {
  text-transform: capitalize;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.float-right {
  float: right;
}

.messageText img {
  vertical-align: middle;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundGreen {
  background: #86bb71;
}

.backgroundLightBlue {
  background: #94c2ed;
}

.my-message {
  background: #86bb71;
}

.other-message {
  background: #94c2ed;
}

.other-message::after {
  border-bottom-color: #94c2ed;
  left: 93%;
}
